body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.header {
	background: url(../img/header.gif) repeat-x 0 -1px;
}
.Note {
	background: url(Notes_Large.png) no-repeat;
	width: 32px;
	height: 32px;
}
.Reports {
	background: url(Reports_Large.png) no-repeat;
	width: 32px;
	height: 32px;
}